body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
}

th {
    background-color: #f2f2f2;
}

.device-info, .inspection-form {
    margin-top: 20px;
}

.device-info table, .inspection-form table {
    margin-top: 10px;
}

.device-info th, .device-info td, .inspection-form th, .inspection-form td {
    padding: 10px;
}

.device-info th {
    background-color: #f2f2f2;
}

.expand-btn {
    cursor: pointer;
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: bold;
}

.assessment-content, .inspeksi-content {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}

/* Style untuk judul table */
.device-info .assessment-content table tr th[colspan="2"], .inspection-form .inspeksi-content table tr th[colspan="2"] {
    text-align: center;
    background-color: #f2f2f2;
}

/* Style untuk judul informasi perangkat */
.device-info h3, .inspection-form h3 {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}